body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('/Gemini_Generated_Image_pn0z3fpn0z3fpn0z.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-attachment: fixed;
}

.container {
    max-width: 1060px;
    margin: 50px auto;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.search-bar{
    margin: 75px 0px;
}

input,
button,
table {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type="text"] {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding-left: 30px;
    width: 55rem;
}

button {
    padding: 0.8rem 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(to right, #007bff, #66bbff);
}

table {
    border-collapse: collapse;
    margin-top: 3rem;
    border-radius: 5px;
    border-color: #eee;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    border-top: 1px solid #ccc;
}
.social-icons {
    display: flex;
}
.social-icon {
    margin: 0 10px;
}